<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
</head>
<body>
    <h1> update site info </add></h1>
    <form action='{{ url_for("update_info") }}' method="POST">
        sitename:<br>
        <input type="text" name="sitename" value="{{ datas.sitename }}"><br>
        siteurl:<br>
        <input type="text" name="siteurl" value="{{ datas.url }}"><br>
        userID:<br>
        <input type="text" name="userid" value="{{ datas.userid }}"><br>
        userPW:<br>
        <input type="password" name="userpw" value="{{ datas.userpw }}"><br>
        snsAuth:<br>
        <input type="radio" name="snsauth" value="True" checked> True<br>
        <input type="radio" name="snsauth" value="False"> False<br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>