<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html><head><title>hacking site</title></head>
<body bgcolor="#000000" link=#FF6600   vlink=#CC6600 alink=#FFFF00 text=#FF9900 >
<CENTER><H1>hacked users List (in namki website)</H1><h2>2018-10-23 </h2>

<TABLE style="border:1px solid #FF4455;">	
	<TBODY>
		<TR>
			<TD WIDTH=100 HEIGHT=17 ALIGN=LEFT>번호</TD>
			<TD WIDTH=448 ALIGN=LEFT>사용자 아이디</TD>
			<TD WIDTH=472 ALIGN=LEFT>해킹된 위치</TD>
			<TD WIDTH=472 ALIGN=LEFT>쿠키 값</TD>
		</TR>
	</TBODY>
</TABLE><br><br>

<TABLE style="border:1px solid #FFFF00;">	
	<TBODY>
		<TR>
			<TD WIDTH=100 HEIGHT=17 ALIGN=LEFT></TD>
			<TD WIDTH=448 ALIGN=LEFT>{{a}}</TD>
			<TD WIDTH=472 ALIGN=LEFT>{{b}}</TD>
			<TD WIDTH=472 ALIGN=LEFT>{{c}}</TD>
		</TR>
	</TBODY>
</TABLE>	

</BODY>
</HTML>
